<li>
	{{burger_name}}
    {{!-- {{#if devoured}} --}}
	<button class="devour-burger" data-id="{{id}}" data-devouredState="{{this.devoured}}">Devour!</button>
</li>

{{!-- <li>
	{{burgerName}}
	{{#if devour}}
		<button class="change-devour" data-id="{{id}}" data-devour="{{devour}}">Devour!</button>
	{{/if}}
</li> --}}