<li>
	<h5>{{burger_name}}</h5>
	{{#if devoured}}
	{{!-- <button class="delete-burger" data-id="{{this.id}}" data-delete="{{delete}}"> 
		DELETE!
	</button> --}}
	{{else}}
	<button class="devour-burger" data-id="{{this.id}}" data-devour="{{devour}}">
		DEVOUR IT!
	</button>
	{{/if}}
</li>